@page "/"
<PageTitle>@_pageTitle</PageTitle>

<div class="container">
  <div class="card box-shadow-inset m-auto">
      <EditForm Model="Query" method="post" OnValidSubmit="Search" FormName="searchVehicle">
        <VehicleFilter Query="@Query" />
        <VehicleSearch ClearSearch="Clear" Query="@Query"/>
      </EditForm>
  </div>
  <div class="row g-1 my-3 d-flex justify-content-evenly flex-wrap align-items-center">
        @if(_isLoading)
        {
            <div class="text-center align-self-center top-50 m-auto mt-5">
                <Spinner Type="SpinnerType.Grow" Size="SpinnerSize.Large" Color="SpinnerColor.Primary" />
            </div>
        }
        else if(!_isLoading && _hasError)
        {
            <Alert Color="AlertColor.Danger">
                <h4 class="alert-heading text-center">An error Occurred!</h4>
                <p class="text-center">
                    <Icon Name="IconName.Bug"></Icon> Something went wrong. Please contact support if issue persists.
                </p>
            </Alert>
        }
        else if(Vehicles.Data.IsNotNullOrEmpty())
        {
            @foreach(var vehicle in Vehicles.Data)
            {
                <VehicleCard Vehicle="vehicle"></VehicleCard>
            }
           
            <Pagination 
                ActivePageNumber="@Vehicles.MetaData.CurrentPage"
                TotalPages="@Vehicles.MetaData.TotalPages"
                Alignment="Alignment.Center"
                FirstLinkIcon="IconName.ChevronDoubleLeft"
                PreviousLinkIcon="IconName.ChevronLeft"
                NextLinkIcon="IconName.ChevronRight"
                LastLinkIcon="IconName.ChevronDoubleRight"
                PageChanged="OnPageChangedAsync"
                Class="mt-3"
            />
        }
        else
        {
            <Alert Color="AlertColor.Info">
                <h4 class="alert-heading text-center">No record found!</h4>
                <p class="text-center">
                    <Icon Name="IconName.InfoCircle"></Icon>  Your search criteria returned no record. Please modify and try again.
                </p>
            </Alert>
        }
  </div>
</div>
@*(&#x20A6;)*@