<PageTitle>@pageTitle</PageTitle>

@if (isLoading)
{
    <Spinner></Spinner>
}
else
{
    <div class="row">
        <div class="box-shadow-inset border-radius-2rem p-3">
            <EditForm Model="UserDetail" method="post" OnValidSubmit="SaveAsync" FormName="details">
                <DataAnnotationsValidator />
                <h3>
                    <span class="oi oi-pencil text-muted fw-bold" aria-hidden="true"> Edit Details</span>
                </h3>
                <hr />
                <div class="row">
                    <div class="form-floating mb-3 px-1">
                        <InputText 
                            @bind-Value="UserDetail.Name" 
                            class="form-control" 
                            autocomplete="Name"
                            placeholder="John"
                            aria-required="true" 
                        />
                        <label for="Name" class="form-label">Name</label>
                        <ValidationMessage For="() => UserDetail.Name" class="text-danger" />
                    </div>
                    <div class="form-floating mb-3 px-1">
                        <InputSelect 
                            @bind-Value="UserDetail.Gender" 
                            class="form-control" 
                            placeholder="Gender"
                            aria-required="true">
                            @foreach (var gender in Enum.GetValues(typeof(Gender)))
                            {
                                <option value="@gender">@gender.GetDescription()</option>
                            }
                        </InputSelect>
                        <label for="Gender" class="form-label">Select your gender</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-0 col-lg-3"></div>
                    <div class="col-md-12 col-lg-6 d-flex justify-content-center">
                        <div class="d-flex justify-content-center flex-column flex-md-row w-100">
                            <button class="btn btn-primary mx-1 mt-1" disabled="@isButtonDisabled">
                                <span class="fa fa-save" aria-hidden="true"></span> @buttonLabel
                            </button>
                            <button type="button" class="btn btn-secondary mx-1 mt-1" disabled="@isButtonDisabled" @onclick="( async () => await SharedService.CancelModalAsync(Instance))">
                                <span class="oi oi-arrow-left" aria-hidden="true"></span> Back
                            </button>
                        </div>
                    </div>
                    <div class="col-md-0 col-lg-3"></div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    
}
