@page "/profile"
@attribute [Authorize]

<PageTitle>@PageTitle</PageTitle>

@if (isLoading)
{
    <Spinner></Spinner>
}
else if (!isLoading && Data != null)
{
    <div class="m-0">
        <div class="row py-3 d-flex justify-content-center">
            <div class="col-sm-0 col-md-3"></div>
            <div class="col-sm-12 col-md-6 profile-container box-shadow-inset mt-3">
                <div class="mt-3">
                    <ProfileUserCircle />
                    <ProfileHeader Name="@Data?.Name" Status="@Data.Status" Gender="@Data.Gender" />
                    <div class="d-flex flex-row justify-content-between m-0 p-0">
                        <div class="text-center text-muted m-0 p-0" style="font-size: 0.9rem;">
                            <p class="oi oi-calendar my-0 py-0"></p>
                            <p class="my-0 py-0">Joined</p>
                            <p style="font-size: 0.8rem;">@Data.CreatedOn.ToString("M"), @Data.CreatedOn.ToString("yyyy") @Data.CreatedOn.ToString("t")</p>
                        </div>
                        <div class="text-center text-muted m-0 p-0" style="font-size: 0.9rem;">
                            <p class="oi oi-calendar my-0 py-0"></p>
                            <p class="my-0 py-0">Updated</p>
                            <p style="font-size: 0.8rem;">@Data.UpdatedOn.ToString("M"), @Data.UpdatedOn.ToString("yyyy") @Data.UpdatedOn.ToString("t")</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <MutedUnderlinedLeftAligned Text="Account" />
                    <div class="">
                        <p class="m-0 py-1">
                            <a class="text-muted fw-lighter text-decoration-none fst-italic d-flex align-items-center justify-content-between" style="font-size: 0.9rem;cursor: pointer;" @onclick=@(async () => await GoToUserDetailsEdit(Data.Id))>
                                <span> Edit Details</span> <span class="fa fa-chevron-right" style="font-weight: 100;"></span>
                            </a>
                        </p>
                        <p class="m-0 py-1">
                            <a class="text-muted fw-lighter text-decoration-none fst-italic d-flex align-items-center justify-content-between" style="font-size: 0.9rem;cursor: pointer;" @onclick=@(async () => await ChangePassword(Data.Id))>
                                <span>Change Password</span> <span class="fa fa-chevron-right" style="font-weight: 100;"></span>
                            </a>
                        </p>
                        <p class="m-0 py-1">
                            <a class="text-danger fw-lighter text-decoration-none fst-italic d-flex align-items-center justify-content-between" style="font-size: 0.9rem;cursor: pointer;" @onclick=@(async () => await DeactivateAccount(Data.Id))>
                                <span>Deactivate Account</span> <span class="fa fa-chevron-right" style="font-weight: 100;"></span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="mb-3">
                   <MutedUnderlinedLeftAligned Text="Support" />
                   <div class="mb-2">
                       <p class="m-0 py-1">
                           <a href="tel:+2348035222858" class="text-muted fw-lighter text-decoration-none fst-italic d-flex align-items-center justify-content-between" style="font-size: 0.9rem;">
                               <span>Call us</span> <span class="fa fa-chevron-right" style="font-weight: 100;"></span>
                           </a>
                       </p>
                       <p class="m-0">
                           <a class="text-muted fw-lighter text-decoration-none fst-italic d-flex align-items-center justify-content-between" style="font-size: 0.9rem;cursor: pointer;" @onclick=@(async () => await LeaveFeedback(Data.Id))>
                               <span>Feedback</span> <span class="fa fa-chevron-right" style="font-weight: 100;"></span>
                           </a>
                       </p>
                   </div>
                </div>
            </div>
            <div class="col-sm-0 col-md-3"></div>
        </div>
    </div>
}
