@page "/admin/users"
@attribute [Authorize(Roles = "Admin, SuperAdmin")]

<PageTitle>@pageTitle</PageTitle>
<div class="container">
  <div class="row g-3 my-3 d-flex justify-content-evenly flex-wrap align-items-center">
        <BackButton></BackButton>
        @if(isLoading)
        {
            <div class="text-center align-self-center top-50 m-auto">
                <Spinner Type="SpinnerType.Grow" Size="SpinnerSize.Large" Color="SpinnerColor.Primary" />
            </div>
        }
        else
        {
            <div class="row g-3 my-3 d-flex justify-content-evenly flex-wrap align-items-center">
                <div class="col-12 col-lg-4">
                    <SinglePillCardDash 
                        Background="FeedbackRating.Good" 
                        CardTitle="Total Users" 
                        PillContent="@TotalUsers.ToString("D")">
                    </SinglePillCardDash>
                </div>
                <div class="col-12 col-lg-4">
                    <SinglePillCardDash 
                        Background="FeedbackRating.Excellent"
                        PillContent="@ActiveUsers.ToString("D")"
                        CardTitle="Total Active Users">
                    </SinglePillCardDash>
                </div>
                <div class="col-12 col-lg-4">
                    <SinglePillCardDash 
                        Background="FeedbackRating.None"
                        PillContent="@InactiveUsers.ToString("D")"
                        CardTitle="Total Inactive Users">
                    </SinglePillCardDash>
                </div>
            </div>
            <div class="box-shadow-inset m-auto mt-1">
                <EditForm Model="Query" method="post" OnValidSubmit="Search" FormName="searchVehicle">
                    <BaseSearch ClearSearch="Clear" Query="@Query" />
                </EditForm>
            </div>
            <UserTableList UserData="UserData" 
                ShowAddUserModal="ShowAddUserModal"
                GetDashboard="GetDashboard"
                GetPagedUserList="GetPagedUserList"
                IsLoading="isLoading"
            />
            @if (UserData.IsNotNull())
            {
                <Pagination ActivePageNumber="@UserData.MetaData.CurrentPage"
                            TotalPages="@UserData.MetaData.TotalPages"
                            Alignment="Alignment.Center"
                            FirstLinkIcon="IconName.ChevronDoubleLeft"
                            PreviousLinkIcon="IconName.ChevronLeft"
                            NextLinkIcon="IconName.ChevronRight"
                            LastLinkIcon="IconName.ChevronDoubleRight"
                            PageChanged="OnPageChangedAsync"
                            Class="mt-3" />
            }
        }
    </div>
</div>