@page "/admin/vehicles"
@attribute [Authorize(Roles = "Admin, SuperAdmin, Merchant")]

<PageTitle>Inventory Manager</PageTitle>
<div class="container">
  <div class="row g-3 my-3 d-flex justify-content-evenly flex-wrap align-items-center">
        <BackButton></BackButton>
        <div class="card box-shadow-inset m-auto mt-1">
            <EditForm Model="Query" method="post" OnValidSubmit="Search" FormName="searchVehicle">
            <VehicleFilter Query="@Query" />
            <VehicleSearch ClearSearch="Clear" Query="@Query"/>
            </EditForm>
        </div>
        <div class="table-responsive mt-5">
            @if (isLoading)
            {
                <div class="text-center align-self-center top-50 m-auto">
                    <Spinner Type="SpinnerType.Grow" Size="SpinnerSize.Large" Color="SpinnerColor.Primary" />
                </div>
            }
            else
            {
                <Button Color="ButtonColor.Secondary" Outline="true" Class="mx-1 float-end" @onclick=@( async () => await ShowBulkVehicleUploadModal())>
                    <Tooltip Title="Vehicle Data Bulk Upload" role="button">
                        <Icon Name="IconName.Upload"></Icon>
                    </Tooltip>
                </Button>
                <Button Color="ButtonColor.Primary" Outline="true" Class="mx-1 float-end" @onclick=@( async () => await ShowAddVehicleModal())>
                    <Tooltip Title="Add New Vehicle" role="button">
                        <Icon Name="IconName.Plus"></Icon>
                    </Tooltip>
                </Button>
                <Button Color="ButtonColor.Success" Outline="true" Class="mx-1 float-end" @onclick=@( async () => await ExportToExcel())>
                    <Tooltip Title="Generate Excel Report" role="button">
                        <Icon Name="IconName.Download"></Icon>
                    </Tooltip>
                </Button>
                <Button Color="ButtonColor.Dark" Outline="true" Class="mx-1 float-end" @onclick=@( async () => await PrintPDF())>
                    <Tooltip Title="Print PDF Report" role="button">
                        <Icon Name="IconName.Printer"></Icon>
                    </Tooltip>
                </Button>
                <VehicleTableList Data="Data" DataCount="@NumberOfVehicles"/>
                <Pagination ActivePageNumber="@Data.MetaData.CurrentPage"
                            TotalPages="@Data.MetaData.TotalPages"
                            Alignment="Alignment.Center"
                            FirstLinkIcon="IconName.ChevronDoubleLeft"
                            PreviousLinkIcon="IconName.ChevronLeft"
                            NextLinkIcon="IconName.ChevronRight"
                            LastLinkIcon="IconName.ChevronDoubleRight"
                            PageChanged="OnPageChangedAsync"
                            Class="mt-3" />
            }
        </div>
    </div>
</div>